// Hidden
//
// Hide from both screenreaders and browsers
//
// @usage - `@include hidden`

.hidden {
  display: none !important;
  visibility: hidden;
}


// Invisible
//
// Hide visually and from screenreaders, but maintain layout
//
// @usage - `@include invisible`

.invisible { 
  visibility: hidden; 
}
