//
// Typography
//

$font-size: 12px;
$line-height: 14px;

$system-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$serif-stack: 'times new roman', times, georgia, serif;
$sans-serif-stack: helvetica, arial, sans-serif;


//
// Colors
//

$background-color: #f00;
$main-color: #000;


//
// Space
//

// ***


//
//  Breakpoints
//

$breakpoints: (
  'small': (max-width: 700px),
  'medium': (max-width: 1000px),
  'large': (min-width: 1600px),
  'short': (max-height: 600px),
);
