// PWR STUDIO
@import 'partials/reset';
//
$font-size: 12px;
$line-height: 14px;
$background-color: #fff;
$main-color: #000;
// * * * * * * * *
// BASICS
// * * * * * * * *
body {
  background: $background-color;
  color: $main-color;
  font-size: $font-size;
  line-height: $line-height;
}
// * * * * * * * *
// PHONE
// * * * * * * * *
@media only screen and (max-width: 480px) {}
